# Файл с секретными переменными окружения
.env

# Файлы базы данных SQLite
*.db
*.db-journal

# Папки виртуального окружения
venv/
.venv/
env/
.env/

# Кэш и скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Настройки IDE и редакторов
.idea/
.vscode/

# Папки, создаваемые при сборке проекта
/build/
/dist/
*.egg-info/
